[tool.poetry]
name = "graia-ariadne-dev"
version = "2021.12.8.1"
description = "Another elegant framework for mirai and mirai-api-http v2."
authors = [
    "BlueGlassBlock <blueglassblock@outlook.com>",
    "GreyElaina <GreyElaina@outlook.com>"
]
packages = [{ include = "graia", from = "src" }]
readme = "README.md"
repository = "https://github.com/GraiaProject/Ariadne"
homepage = "https://graia.readthedocs.io/zh_CN/latest"

[[tool.poetry.source]]
name = "tuna-tsinghua"
default = false
url = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple/"

[tool.poetry.dependencies]
python = "^3.8"
graia-broadcast = ">=0.14.4"
aiohttp = "^3.7.4"
pydantic = "^1.8.2"
yarl = "^1.6.3"
loguru = "^0.5.3"
typing-extensions = "^3.10.0"
rich = "^10.15.2"

[tool.poetry.dev-dependencies]
black = ">=21.10b0"
isort = ">=5.9.3"
devtools = ">=0.8.0"
objgraph = ">=3.5.0"
ptpython = ">=3.0.20"
pdoc3 = ">=0.10.0"
graia-saya = "^0.0.13"
mkdocs-material = ">=7.3.6"
graia-scheduler = "^0.0.6"
pydeps = "^1.10.12"
pre-commit = "^2.16.0"

[tool.isort]
profile = "black"

[tool.black]
line-length = 110
target-version = ['py38']

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
