name: Deploy Documentation
on:
  push:
    branches:
      - "!dependabot/**"
      - "*"
jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Setup Document Dependencies
        run: |
          pip install -r ./docs/requirements.txt

      - name: Build with MKDocs
        run: |
          mkdocs build

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/pages-action@1
        with:
          apiToken: ${{ secrets.CF_PAGES_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          projectName: graia-ariadne
          directory: site
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy to Netlify Production
        uses: netlify/actions/cli@master
        if: ${{ github.ref_name == 'master'}}
        with:
          args: deploy --dir=site --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

      - name: Deploy to Netlify Draft
        uses: netlify/actions/cli@master
        if: ${{ github.ref_name != 'master'}}
        with:
          args: deploy --dir=site
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
